.header{
    background: $black-color;
    color:$white-color;
    position: fixed;
    width: 100%;
    height: 3em;
    ul{
        display: flex;
        margin: 0;
        padding: 1em 2em;
        justify-content: flex-end;
        li{
            list-style: none;
            margin:0 5px;
            a{
                color:$white-color;
                text-decoration: none;
                padding: 0 7px;
            }

            a.active{
                color: red;
            }

            span{
                svg.dot-notify{
                    color: red;
                    font-size: 0.5em;
                    position: absolute;
                    padding: 2px 0 0 0px;
                }
                svg.icon-bell{
                    padding: 0 0 0 3px;
                }
            }

        }
    }
}