.dashboard{
    display: flex;
    flex-direction: row;
    .panel-wrap{
        padding: 2em 5em;
        .info{
            margin-bottom: 5em;

        }
        .buttons{
            margin-top: 3em;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}

@media only screen and (max-width: 767px){
    .dashboard{
        display: flex;
        flex-direction: column;
        .panel-wrap{
            padding: 2em 0px;
            .info{
                margin: 1em;

            }
            .buttons{
                justify-content: center;
            }
        }
    }
  }